* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f0f2f5;
}

.container {
    width: 350px;
}

.login-box {
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.login-box h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.input-box {
    position: relative;
    margin-bottom: 25px;
}

.input-box input {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    outline: none;
    border-radius: 10px;
    font-size: 16px;
    transition: 0.3s;
}

.input-box input:focus {
    border-color: #6c63ff;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    color: #777;
    pointer-events: none;
    transition: 0.3s;
}

.input-box input:focus + label,
.input-box input:valid + label {
    top: -8px;
    left: 10px;
    font-size: 13px;
    background: #fff;
    padding: 0 5px;
    color: #6c63ff;
}

.btn {
    width: 100%;
    padding: 10px;
    background: #6c63ff;
    border: none;
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #544ae3;
}

.register-text {
    text-align: center;
    margin-top: 10px;
}

.register-text a {
    color: #6c63ff;
    text-decoration: none;
}